ion-content{
    position: relative; 
 }
 .container{
     position: absolute;
     bottom: 0px;
     width: 100%;
     background-color: #fff;
 }
 .maps-container{
     position: relative;
     ion-icon{
         position: absolute;
         left: 8px;
         background-color: #fff;
         padding: 10px;
         border-radius: 20px;
         z-index: 1;
         top: 8px;
         font-size: 20px;
     }
 }
 .wrapper {
     margin: 50px 0px 20px;
     display: flex;
     align-items: center;
     justify-content: space-between;
     text-align: center;
     width: 100%;
     font-weight: 700;
 
 
   .text-option{
     font-size: 14px;
     margin: 0px;
     text-align: center;
     white-space: wrap;
     font-weight: 500;
   }
   
   .ripple-parent {
     position: relative;
     overflow: hidden;
     border: 1px solid #ddd;
   }
 
   .circle {
     width: 90px;
     height: 90px;
     border-radius: 50%;
   }
 
   .item-wrapper{
     position: relative;
     .icon-cont{
         background: #fff;
         border-radius: 20px;
         margin: 0px auto;
         left: 0px;
         right: 0px;
         width: fit-content;
         z-index: 10;
         position: absolute;
         top: -33px;
     }
     ion-icon{
         border-radius: 20px;
         font-size: 25px;
         box-shadow: 0px 0px 7px 1px #ccc;
         padding: 10px;
         box-shadow: 0 3px 1px -2px rgba(0, 0, 0, 0.2), 0 2px 2px 0 rgba(0, 0, 0, 0.14), 0 1px 5px 0 rgba(0, 0, 0, 0.12);
     }
   }
 
   .rounded-rectangle {
     text-align: center;
     width: 90px;
     height: 72px;
     padding: 10px;
     margin: 5px;
     border-radius: 20px;
     display: flex;
     align-items: center;
     flex-direction: column;
     justify-content: center;
     font-size: 22px;
     font-weight: 100;
     text-align: left;
     text-transform: capitalize;
     box-shadow: 0 3px 1px -2px rgba(0, 0, 0, 0.2), 0 2px 2px 0 rgba(0, 0, 0, 0.14), 0 1px 5px 0 rgba(0, 0, 0, 0.12);
 
 }
 
 }
 
 